data-env/
train-env/
.venv/
venv/

.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*.so
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

.vscode/*.code-workspace
.idea/
.DS_Store

logs/
/runs/
wandb/
checkpoints/
models/

outputs/*
!outputs/.gitkeep

dataset/extracted_wavs/*
!dataset/extracted_wavs/.gitkeep
